name: Build and deploy ASP.Net Core app to Azure Web App - backpicso

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: windows-latest
    permissions:
      contents: read # Required for actions/checkout
      id-token: write # Required for Azure login

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build with dotnet
        run: dotnet build --configuration Release --no-restore

      - name: Publish project
        run: dotnet publish -c Release -o published

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F0C7C933788546E08FA0D6C0644D535A }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_3594958C25F2483F9E526B33D91E1870 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_DDB5F69680B546B6A284320C1985198C }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'backpicso'
          slot-name: 'Production'
          package: published